@font-face {
    font-family: 'Angella White';
    src: url('../public/fonts/Angella White.otf') format('opentype');
}

body{
    color: rgb(78, 78, 78);
    background-color: rgb(250, 248, 246);
}

.site-container{
        display: flex;
        flex-direction: column;
        min-height: 98vh;
      }


.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button-link,
a.button-link:visited,
a.button-link:hover,
a.button-link:active {
color: black !important; /* Inherit color from parent element */
  text-decoration: none !important; /* Remove underline */
}
