body{
    color: rgb(78, 78, 78);
}

.info-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.button-link{
    width: 75%;
    max-width: 500px;
    color: inherit !important; /* Inherit color from parent element */
  text-decoration: none !important; /* Remove underline */
    
}

a.button-link,
a.button-link:visited,
a.button-link:hover,
a.button-link:active {
  color: inherit !important; /* Inherit color from parent element */
  text-decoration: none !important; /* Remove underline */
}


