.sign-up-page-container{
    display: flex;
    flex-direction: column;
}
a.button-link,
a.button-link:visited,
a.button-link:hover,
a.button-link:active {
    color: black!important; /* Inherit color from parent element */
  text-decoration: none !important; /* Remove underline */
}



